= form_for @listing do |f|
  - if @listing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@listing.errors.count, "error")} prohibited this listing from being saved:"
      %ul
        - @listing.errors.full_messages.each do |message|
          %li= message

  - Listing::sym2name.keys.each do |col|
    - if col != :images
      .field
        = f.label :listing, Listing::sym2name[col]
        = text_field :listing, col
    - else
      .field
        Upload Photo
        = f.file_field :images, multiple: true

  = button_tag "Location Check", type: 'button', onclick: "check_for_listing_address()"

  .actions
    %br
    %br
    = f.submit 'Save', method: :post, data: { confirm: "Is your listing's location in the map correct? \n\n(Please check it by \"Location Check\" button before submission)" }
