-#  This file is app/views/listings/index.html.haml

= include_gon

= stylesheet_link_tag "https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
= javascript_include_tag "https://code.jquery.com/jquery-1.12.4.js"
= javascript_include_tag "https://code.jquery.com/ui/1.12.1/jquery-ui.js"
= stylesheet_link_tag "https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css"
= javascript_include_tag "https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"
= javascript_include_tag "lib/fuzzy_search.js"

%h5 Get Your Ideal Listings
.ui-widget
  = form_tag listings_path, :method => :get, id: "Search_Form" do
    - if flash[:search_query].nil?
      = search_field_tag 'queryTbx', nil, :placeholder => "Search.."
    - else
      = search_field_tag 'queryTbx', flash[:search_query], :placeholder => "Search.."
    = submit_tag 'Submit'

%br

= button_to 'Add New Listing', new_listing_path, :method => :get

%br

= form_tag listings_path, :method => :get, id: "zipcode filter" do
  = label :condition, :zipcode, 'Zip Code'
  = text_field :condition, 'zipcode'
  = submit_tag 'Filter'

%table#listings.table.table-striped.col-md-12{id:'listing_table'}
  %thead
    %tr
      - Listing::index_display_cols.each do |col|
        - if col == flash[:sorted_col]
          %th.hilite= Listing::sym2name[col]
        - elsif Listing::valid_sort_cols.include?col
          %th= link_to Listing::sym2name[col], listings_path(:sorted_col => col)
        - else
          %th= Listing::sym2name[col]
      %th{:colspan => 3} Options
  %tbody
    - @all_listings.each do |listing|
      %tr
        - Listing::index_display_cols.each do |col|
          %td= listing[col]
        %td= link_to "More Details", listing
        %td= link_to "Reviews", show_review_listing_path(listing)
%h5 Map Mode for Listings
-#(To be improved)
%div{:id=>"MapDisplay", :style=>"position:relative;width:100%;min-width:290px;height:500px;"}