-#  This file is app/views/listings/index.html.haml
%h2 Filtered Available Listings

= form_tag listings_path, :method => :get, id: "zipcode filter" do
  = label :listing, :zipcode, 'Zip Code'
  = text_field :listing, 'zipcode'

  = submit_tag 'Filter', :class => 'btn btn-primary'

= link_to 'Add New Listing', new_listing_path

%table#listings.table.table-striped.col-md-12
  %thead
    %tr
      %th Storage ID
      %th Address
      %th Zip Code
      %th Daily Price
      %th E-mail
  %tbody
    - @all_listings.each do |listing|
      %tr
        %td= listing.storage_id
        %td= listing.address
        %td= listing.zipcode
        %td= listing.daily_price
        %td= listing.email