-#  This file is app/views/listings/my_listings_index.html.haml
%br

%h1 Your Own Listings

= button_to 'Add New Listing', new_listing_path, {:method => :get, :class => "btn btn-outline-dark text-dark"}

%br
%br

= form_tag listings_path, :method => :get, id: "zipcode filter" do
  .row
    .col-6.col-lg-3
      = text_field :condition, 'zipcode', :placeholder => "Input a zipcode", :class => "form-control", :style => "width:100%;"
    .col-6.col-lg-1
      = submit_tag 'Filter', {class:"btn btn-outline-primary", style:"width:100px"}

%br

%table#listings.table.table-striped.col-md-12{id:'listing_table'}
  %thead
    %tr
      - Listing::index_display_cols.each do |col|
        - if col == flash[:sorted_col]
          %th.hilite= Listing::sym2name[col]
        - elsif Listing::valid_sort_cols.include?col
          %th= link_to Listing::sym2name[col], listings_path(:sorted_col => col)
        - else
          %th= Listing::sym2name[col]
      %th{:colspan => 4} Options
  %tbody
    - @all_listings.each do |listing|
      %tr
        - Listing::index_display_cols.each do |col|
          %td= listing[col]
        %td= link_to "More Details", listing
        %td= link_to "Edit", edit_listing_path(listing)
        %td= link_to "Reviews", show_review_listing_path(listing)