-#  This file is app/views/listings/new.html.haml

= include_gon

= stylesheet_link_tag "https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
= javascript_include_tag "https://code.jquery.com/jquery-1.12.4.js"
= javascript_include_tag "https://code.jquery.com/ui/1.12.1/jquery-ui.js"
= stylesheet_link_tag "https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css"
= javascript_include_tag "https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"
= javascript_include_tag "lib/show_point_in_map.js"

%h2 Create New Listing

%br

.row
  .column{style:"float: left; position: relative; left: 20px"}
    = render 'form'
  .column{style:"float: left; position: relative; left: 50px"}
    %div{:id=>"MapDisplay", :style=>"position:relative;width:200%;min-width:300px;min-height:500px;"}

-# = link_to 'Back', customers_path
