%h2 Create New Listing

= form_tag listings_path do
  = label :listing, :storage_id, 'Storage Id'
  = text_field :listing, 'Storage Id'

  = label :listing, :address, 'Address'
  = text_field :listing, 'Address'

  = label :listing, :zipcode, 'Zipcode'
  = text_field :listing, 'Zipcode'

  = label :listing, :daily_price, 'Daily Price'
  = text_field :listing, 'Daily Price'

  = label :listing, :email, 'Email'
  = text_field :listing, 'Email'

  = submit_tag 'Save Changes', :class => 'btn btn-primary'