
-# in app/views/listings/show.html.haml
%h3 Details about :  #{@listing.name}

%ul#details
%li
  Location:
  = @listing.address
  =', '
  = @listing.city
  =', '
  = @listing.state
  =', '
  = @listing.zipcode
%li
  Size:
  = @listing.size
%li
  Price:
  = @listing.daily_price

%table#listings.table.table-striped.col-md-12{id:'listing_review_table'}
  %thead
    %th Customer
    %th Rating
    %th Comments
  %tbody
    -# -@all_reviews.each do |review|
    -#   %tr
    -#     -Review::index_display_cols.each do |col|
    -#       %td= review[col]
    -@result.each do |each_result|
      %tr
        %td #{each_result[:name]}
        %td #{each_result[:rating]}
        %td #{each_result[:comments]}


= button_to 'Book', new_booking_path(:listing_id => @listing), :class => 'btn btn-primary', :method => 'post'

%li Pictures:
= render "images"

-#%h4 Description:
-#
-#%p#description= @movie.description
-#
-#= link_to 'Edit', edit_movie_path(@movie)
-#= button_to 'Delete', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-primary'
-#= link_to 'Back to movie list', movies_path