%h1 Listing bookings

%table#bookings.table.table-striped.col-md-12{id:'bookings_table'}
  %thead
    %tr
      %th Start date
      %th End date
      %th Listing Name
      %th
      %th
      %th

  %tbody
    - @bookings.each do |booking|
      %tr
        %td= booking.start_date
        %td= booking.end_date
        -#%td= Listing.find(booking.listing_id).name
        -#%td= booking.listing.name
        %td= link_to 'Show', booking
        %td= link_to 'Edit', edit_booking_path(booking)
        %td= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Booking', listings_path
