%h1 Finish Booking for #{@listing.name}
= form_tag bookings_path do
  = label :booking, 'Start Date'
  = date_select :booking, :start_date

  = label :booking, 'End Date'
  = date_select :booking, :end_date
  = hidden_field_tag :listing_id, value= @listing.id

  = submit_tag 'Confirm Booking', :class => 'btn btn-primary'

= link_to 'Back', bookings_path
