= form_tag 'users/index', :method => :put, id: "login" do
  = label :user, :username, "Username"
  = text_field :user, :username
  = label :user, :password, "Password"
  = password_field :user, :password
  = submit_tag 'Sign in'