%h1 New review #{@listing}

= form_tag reviews_path do
  = label :review, 'Ratings'
  = number_field :review, :rating,:in => 0..10, :step => 1
  .span
  = label :review, 'Comments'
  .span
  = text_area :review, :comments,
  :rows => 10, :cols =>50, :placeholder => 'Enter text.'
  .span
  = submit_tag 'Submit Review', :class => 'btn btn-primary'

= link_to 'Back', bookings_path
