%h1 New review

= form_tag new_review_path do
  = label :review, 'Ratings'
  = number_field :review, :rating,:in => 0..10, :step => 1
  .span
  = label :review, 'Comments'
  .span
  = text_area :review, :comments,
  :rows => 10, :cols =>50, :placeholder => 'Enter text.'
  .span
  = button_to 'Submit Review', new_review_path(:listing_id => @listing), :class => 'btn btn-primary',  :method => 'post'

= link_to 'Back', reviews_path
