!!!
%html
  %head
    %link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
    %title StorageX : Affordable Storage Nearby
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %body
      %div.container
        %nav.navbar.navbar-expand-lg.navbar-light.bg-light
          %a.navbar-brand StorageX : Affordable Storage Nearby
          %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          #navbarNav.collapse.navbar-collapse
            %ul.navbar-nav
              %li.nav-item.active
                %a.nav-link{:href => root_path}
                  Home
                  %span.sr-only (current)

          .navbarNav.collapse.navbar-collapse
            %ul.navbar-nav.ml-auto
              %li.nav-item
                - if current_customer
                  %a.nav-link.disabled Welcome #{current_customer.first_name}
                - else
                  %a.nav-link{:href => signup_path} sign up
              %li.nav-item
                - if current_customer
                  %a.nav-link{:href => logout_path} log out
                - else
                  %a.nav-link{:href => login_path} log in

        #main
          - if flash[:notice]
            %div.alert.alert-danger
              #notice.message= flash[:notice]
          - elsif flash[:warning]
            %div.alert.alert-danger
              #warning.message= flash[:warning]

          = yield